/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f8f8f8;
    color:#333;
}

/* HEADER */
header{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

.logo h1{
    font-size:38px;
}

.logo p{
    margin-top:8px;
    color:#ddd;
}

nav{
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#ffcc00;
}

/* HERO */

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h2{
    font-size:42px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    max-width:700px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:30px;
    background:#28a745;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    background:#1f7d35;
}

/* PRODUCTS */

.products{
    padding:60px 20px;
}

.products h2{
    text-align:center;
    margin-bottom:35px;
}

.product-grid{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.price{
    color:green;
    font-size:24px;
    font-weight:bold;
    padding:0 15px;
}

.card button{
    margin:15px;
    width:90%;
    padding:12px;
    border:none;
    background:#222;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.card button:hover{
    background:#28a745;
}

/* ABOUT */

#about{
    background:white;
    padding:60px 20px;
    text-align:center;
}

#about h2{
    margin-bottom:20px;
}

/* CONTACT */

#contact{
    padding:60px 20px;
    text-align:center;
}

#contact p{
    margin:10px 0;
    font-size:18px;
}

#contact a{
    color:#28a745;
    text-decoration:none;
}

/* FOOTER */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:25px;
}

/* MOBILE */

@media(max-width:768px){

.logo h1{
    font-size:28px;
}

.hero h2{
    font-size:30px;
}

.hero p{
    font-size:16px;
}

nav a{
    display:block;
    margin:10px;
}

.card{
    width:90%;
}

}